@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(../fonts/BarlowCondensed-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/BarlowCondensed-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/BarlowCondensed-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/NotoSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: "Atteron";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/Atteron.ttf) format('truetype');
}