[data-theme=webLightTheme],:root {
    --maxWidth: 90vw;
    --borderRadiusNone: 0;
    --borderRadiusSmall: 2px;
    --borderRadiusMedium: 4px;
    --borderRadiusLarge: 6px;
    --borderRadiusXLarge: 8px;
    --borderRadiusCircular: 10000px;
    --fontSizeBase100: 10px;
    --fontSizeBase200: 12px;
    --fontSizeBase300: 14px;
    --fontSizeBase400: 16px;
    --fontSizeBase500: 20px;
    --fontSizeBase600: 24px;
    --fontSizeHero700: 28px;
    --fontSizeHero800: 32px;
    --fontSizeHero900: 48px;
    --fontSizeHero1000: 56px;
    --fontSizeHero1100: 80px;
    --fontSizeHero1200: 92px;
    --lineHeightBase100: 14px;
    --lineHeightBase200: 16px;
    --lineHeightBase300: 20px;
    --lineHeightBase400: 22px;
    --lineHeightBase500: 28px;
    --lineHeightBase600: 32px;
    --lineHeightHero700: 36px;
    --lineHeightHero800: 40px;
    --lineHeightHero900: 52px;
    --lineHeightHero1000: 92px;
    --lineHeightHero1100: 96px;
    --lineHeightHero1200: 120px;
    --fontFamilyBase: "Noto Sans", "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    --fontFamilyBrand: "Atteron", "Courier New", Courier, monospace;
    --fontFamilyHeading: "Barlow Condensed", "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    --fontWeightRegular: 400;
    --fontWeightMedium: 500;
    --fontWeightSemibold: 600;
    --fontWeightBold: 700;
    --strokeWidthThin: 1px;
    --strokeWidthThick: 2px;
    --strokeWidthThicker: 3px;
    --strokeWidthThickest: 4px;
    --spacingHorizontalNone: 0;
    --spacingHorizontalXXS: 2px;
    --spacingHorizontalXS: 4px;
    --spacingHorizontalSNudge: 6px;
    --spacingHorizontalS: 8px;
    --spacingHorizontalMNudge: 10px;
    --spacingHorizontalM: 12px;
    --spacingHorizontalL: 16px;
    --spacingHorizontalXL: 20px;
    --spacingHorizontalXXL: 24px;
    --spacingHorizontalXXXL: 32px;
    --spacingVerticalNone: 0;
    --spacingVerticalXXS: 2px;
    --spacingVerticalXS: 4px;
    --spacingVerticalSNudge: 6px;
    --spacingVerticalS: 8px;
    --spacingVerticalMNudge: 10px;
    --spacingVerticalM: 12px;
    --spacingVerticalL: 16px;
    --spacingVerticalXL: 20px;
    --spacingVerticalXXL: 32px;
    --spacingVerticalXXXL: 48px;
    --durationUltraFast: 50ms;
    --durationFaster: .1s;
    --durationFast: .15s;
    --durationNormal: .2s;
    --durationSlow: .3s;
    --durationSlower: .4s;
    --durationUltraSlow: .5s;
    --curveAccelerateMax: cubic-bezier(1, 0, 1, 1);
    --curveAccelerateMid: cubic-bezier(.7, 0, 1, .5);
    --curveAccelerateMin: cubic-bezier(.8, 0, 1, 1);
    --curveDecelerateMax: cubic-bezier(0, 0, 0, 1);
    --curveDecelerateMid: cubic-bezier(.1, .9, .2, 1);
    --curveDecelerateMin: cubic-bezier(.33, 0, .1, 1);
    --curveEasyEaseMax: cubic-bezier(.8, 0, .1, 1);
    --curveEasyEase: cubic-bezier(.33, 0, .67, 1);
    --curveLinear: cubic-bezier(0, 0, 1, 1);
    --colorNeutral1: rgba(0,0,0,.1);
    --colorNeutral2: rgba(0,0,0,.24);
    --colorNeutral3: rgba(0,0,0,.5);
    --colorNeutral4: rgba(0,0,0,.7);
    --colorNeutral5: rgba(0,0,0,.9);
    --colorSeasonSpringLight: #91c19f;
    --colorSeasonSpringDark: #3a5e45;
    --colorSeasonSummerLight: #e7c265;
    --colorSeasonSummerDark: #d1a63b;
    --colorSeasonFallLight: #e17b55;
    --colorSeasonFallDark: #c54d21;
    --colorSeasonWinterLight: #3f4bd1;
    --colorSeasonWinterDark: #171e66;
    --durationUltraFast: 50ms;
    --durationFaster: 100ms;
    --durationFast: 150ms;
    --durationNormal: 200ms;
    --durationSlow: 300ms;
    --durationSlower: 400ms;
    --durationUltraSlow: 1500ms;
    --underlineLight: -0.0325em;
    --underlineMedium: -0.110rem;
    --underlineHeavy: -0.125rem;
    --shadow2: 0 0 2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .14);
    --shadow4: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .14);
    --shadow8: 0 0 2px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .14);
    --shadow16: 0 0 2px rgba(0, 0, 0, .12), 0 8px 16px rgba(0, 0, 0, .14);
    --shadow28: 0 0 8px rgba(0, 0, 0, .12), 0 14px 28px rgba(0, 0, 0, .14);
    --shadow64: 0 0 8px rgba(0, 0, 0, .12), 0 32px 64px rgba(0, 0, 0, .14);
    --shadow2Brand: 0 0 2px rgba(0, 0, 0, .3), 0 1px 2px rgba(0, 0, 0, .25);
    --shadow4Brand: 0 0 2px rgba(0, 0, 0, .3), 0 2px 4px rgba(0, 0, 0, .25);
    --shadow8Brand: 0 0 2px rgba(0, 0, 0, .3), 0 4px 8px rgba(0, 0, 0, .25);
    --shadow16Brand: 0 0 2px rgba(0, 0, 0, .3), 0 8px 16px rgba(0, 0, 0, .25);
    --shadow28Brand: 0 0 8px rgba(0, 0, 0, .3), 0 14px 28px rgba(0, 0, 0, .25);
    --shadow64Brand: 0 0 8px rgba(0, 0, 0, .3), 0 32px 64px rgba(0, 0, 0, .25);
}